body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #0081cc;
}
#title{
    height: 150px;
    width: 400px;
}
#board{
    width:360px;
    height: 360px;
    background-color: #a9c7d8;
    border: 10px solid #0081cc;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

#board img{
    width: 118px;
    height: 118px;
    border: 1px solid #0081cc;
}
#reset{
    width: auto;
     border: 1px solid #0081cc;
     border-radius: 10%;
}
